h1 {
    font-family: Lobster, cursive, sans-serit;
    font-size: 48px;
    color: Yellow;
}

h3 {
    font-family: Lobster, cursive, sans-serit;
    color: red;
}

li, p {
    font-family: Pacifico, cursive, sans-serit;
    color: black;
    line-height: 2;
}



