body {
    background-color: black;
}

h1, h2, h3 {
    font-family: 'Sue Ellen Francisco', cursive, sans-serit;
    color: red;
}

li, p {
    font-family: 'Amatic SC', cursive, sans-serit;
    color: white;
    line-height: 2;
}



